In [32]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston
import scipy.stats as t
import statistics as st

In [ ]:
# Applyone  sample t-test  on  the Bostonhouse-pricedatasets for  
# hypothesis to check  average sell price of house is greater than 35.

In [19]:
boston = load_boston()

In [21]:
df=pd.DataFrame(boston.data)

In [23]:
df.columns=boston.feature_names

In [25]:
df['Price'] = boston.target 
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [53]:
df['Price'].mean()

22.532806324110698

In [52]:
# H0: prcie_mean > 35:
# H1: price_mean <=35:
t_score,p_value=t.ttest_1samp(df['Price'],35)
if(p_value<0.05):
    print("Null Hypothesis reject")
else:
    print("Fail to reject Null Hypothesis")

Null Hypothesis reject

In [66]:
df=df[['CRIM','AGE','DIS','RM','TAX','Price']]

In [67]:
df.cov()

,CRIM,AGE,DIS,RM,TAX,Price
CRIM,73.986578,85.405322,-6.876722,-1.325038,844.821538,-30.718508
AGE,85.405322,792.358399,-44.329379,-4.751929,2402.690122,-97.589017
DIS,-6.876722,-44.329379,4.434015,0.303663,-189.664592,4.840229
RM,-1.325038,-4.751929,0.303663,0.493671,-34.583448,4.493446
TAX,844.821538,2402.690122,-189.664592,-34.583448,28404.759488,-726.255716
Price,-30.718508,-97.589017,4.840229,4.493446,-726.255716,84.586724

In [68]:
df.corr()

           CRIM       AGE       DIS        RM       TAX     Price
CRIM   1.000000  0.352734 -0.379670 -0.219247  0.582764 -0.388305
AGE    0.352734  1.000000 -0.747881 -0.240265  0.506456 -0.376955
DIS   -0.379670 -0.747881  1.000000  0.205246 -0.534432  0.249929
RM    -0.219247 -0.240265  0.205246  1.000000 -0.292048  0.695360
TAX    0.582764  0.506456 -0.534432 -0.292048  1.000000 -0.468536
Price -0.388305 -0.376955  0.249929  0.695360 -0.468536  1.000000

In [69]:
# perform descriptive statisticsummary for numerical features of Bostonhouse-pricedatasets.
df.describe()

             CRIM         AGE         DIS          RM         TAX       Price
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.613524   68.574901    3.795043    6.284634  408.237154   22.532806
std      8.601545   28.148861    2.105710    0.702617  168.537116    9.197104
min      0.006320    2.900000    1.129600    3.561000  187.000000    5.000000
25%      0.082045   45.025000    2.100175    5.885500  279.000000   17.025000
50%      0.256510   77.500000    3.207450    6.208500  330.000000   21.200000
75%      3.677083   94.075000    5.188425    6.623500  666.000000   25.000000
max     88.976200  100.000000   12.126500    8.780000  711.000000   50.000000

In [70]:
df['Price'].skew()

1.1080984082549072