In [1]:
import pandas as pd

In [29]:
df=pd.read_excel("site.xlsx")

In [30]:
df.head(17)

,CENTRAL POLLUTION CONTROL BOARD,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,CONTINUOUS AMBIENT AIR QUALITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Date: Wednesday, Jun 30 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Time: 09:35:48 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,Gujarat,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,City,Ahmedabad,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Station,"Maninagar, Ahmedabad - GPCB",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Parameter,SO2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AvgPeriod,15 Minute,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,From,25-06-2019T00:00:00Z 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,To,25-06-2021T21:34:59Z 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Maninagar, Ahmedabad - GPCB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Prescribed Standards,,0-1000,NaN,NaN,NaN,NaN,NaN,NaN
13,Exceeding Standards,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Remarks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,From Date,To Date,SO2,NaN,NaN,NaN,NaN,NaN,NaN
16,25-06-2019 00:00,25-06-2019 00:15,31.65,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:

df_final=df.iloc[16:,:3]

In [41]:
df_final=df_final.rename(columns={"CENTRAL POLLUTION CONTROL BOARD":"From Date","Unnamed: 1":"To Date","Unnamed: 2":"SO2"})

In [43]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70263 entries, 16 to 70278
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   From Date  70263 non-null  object
 1   To Date    70263 non-null  object
 2   SO2        70263 non-null  object
dtypes: object(3)
memory usage: 1.6+ MB

In [44]:
df_final["From Date"]=pd.to_datetime(df_final["From Date"])

In [45]:
df_final["To Date"]=pd.to_datetime(df_final["To Date"])

In [47]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70263 entries, 16 to 70278
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   From Date  70263 non-null  datetime64[ns]
 1   To Date    70263 non-null  datetime64[ns]
 2   SO2        70263 non-null  object
dtypes: datetime64[ns](2), object(1)
memory usage: 1.6+ MB

In [76]:
import datetime

In [80]:
final_data=df_final[df_final["From Date"].dt.time==datetime.time(1, 15)]

In [83]:
final_data.to_csv("final_data.csv")