<h2>  Import Library </h2>

In [4]:
import pandas as pd

In [6]:
df_ori=pd.read_excel("./data/sales_data/walmart US Retail Data 2012-2015.xlsx")

In [7]:
df=df_ori.copy(deep=True)

In [8]:
df.head()

,City,Customer Age,Customer Name,Customer Segment,Discount,Number of Records,Order Date,Order ID,Order Priority,Order Quantity,...,Profit,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price,Zip Code
0,McKeesport,NaN,Jessica Myrick,Small Business,0.10,1,2012-01-01,28774,High,32,...,-111.80,East,4031,180.36,2012-01-02,Regular Air,4.69,Pennsylvania,5.98,15131
1,Bowie,NaN,Matt Collister,Home Office,0.08,1,2012-01-01,13729,Not Specified,9,...,-342.91,East,1914,872.48,2012-01-03,Express Air,35.00,Maryland,95.99,20715
2,Napa,NaN,Alan Schoenberger,Corporate,0.00,1,2012-01-02,37537,Low,4,...,-193.08,West,5272,1239.06,2012-01-02,Delivery Truck,48.80,California,291.73,94559
3,Montebello,NaN,Elizabeth Moffitt,Consumer,0.08,1,2012-01-02,44069,Critical,43,...,247.79,West,6225,614.80,2012-01-02,Regular Air,1.97,California,15.04,90640
4,Napa,NaN,Alan Schoenberger,Corporate,0.07,1,2012-01-02,37537,Low,43,...,-1049.85,West,5273,4083.19,2012-01-04,Delivery Truck,45.00,California,100.98,94559

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  8399 non-null   object
 1   Customer Age          7496 non-null   float64
 2   Customer Name         8399 non-null   object
 3   Customer Segment      8399 non-null   object
 4   Discount              8399 non-null   float64
 5   Number of Records     8399 non-null   int64
 6   Order Date            8399 non-null   datetime64[ns]
 7   Order ID              8399 non-null   int64
 8   Order Priority        8399 non-null   object
 9   Order Quantity        8399 non-null   int64
 10  Product Base Margin   8336 non-null   float64
 11  Product Category      8399 non-null   object
 12  Product Container     8399 non-null   object
 13  Product Name          8399 non-null   object
 14  Product Sub-Category  8399 non-null   object
 15  Profit                8399 non-null   float64
 16  Region                8399 non-null   object
 17  Row ID                8399 non-null   int64
 18  Sales                 8399 non-null   float64
 19  Ship Date             8399 non-null   datetime64[ns]
 20  Ship Mode             8399 non-null   object
 21  Shipping Cost         8399 non-null   float64
 22  State                 8399 non-null   object
 23  Unit Price            8399 non-null   float64
 24  Zip Code              8399 non-null   int64
dtypes: datetime64[ns](2), float64(7), int64(5), object(11)
memory usage: 1.6+ MB