In [1]:
import pandas as pd 
import datacleaner as dc

In [28]:
# import data
df=pd.read_csv("./data/p1.csv")
df_ori=df.copy()

In [32]:
df.head()

   Item no     Age  Income  Student     Rating Buys- Computer
0         1   Youth    High      No       Fair             No
1         2   Youth    High      No  Excellent             No
2         3  Middle    High      No       Fair            Yes
3         4  Senior  Medium      No       Fair            Yes
4         5  Senior     Low     Yes       Fair            Yes

In [33]:
# data cleaning  
df=df.drop(df.columns[0],axis=1)
df=dc.autoclean(df)

In [34]:
# maping encoding and label coding
lbl = dict()
for i in df.columns:
    lbl[i] = dict(zip(df[i].unique(), df_ori[i].unique()))

In [35]:
X,y=df.iloc[:,:-1],df.iloc[:,-1]

In [36]:
# model fit 
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X, y)

GaussianNB()

In [37]:
lbl

{'Age ': {2: 'Youth', 0: 'Middle', 1: 'Senior'},
 'Income ': {0: 'High', 2: 'Medium', 1: 'Low'},
 'Student': {0: 'No', 1: 'Yes'},
 'Rating': {1: 'Fair', 0: 'Excellent'},
 'Buys- Computer': {0: 'No', 1: 'Yes'}}

In [39]:
# test data 
# Youth Income: LOW Student: No Credit Rating: Fair Buy Computer - ?? 

output=model.predict([[2,1,0,1]])

In [40]:
print("Output:",output)

Output: [0]