In [1]:
import pandas as pd

In [2]:
df_0=pd.read_csv("df_sample_0.csv")

In [3]:
df_0["class_id"].value_counts()

284.0    250
603.0    250
429.0    250
741.0    250
634.0    250
        ...
155.0    250
664.0    250
619.0    250
692.0    250
18.0     250
Name: class_id, Length: 165, dtype: int64

In [4]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41250 entries, 0 to 41249
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   binomial          41250 non-null  object
 1   country           41250 non-null  object
 2   continent         41250 non-null  object
 3   genus             41250 non-null  object
 4   family            41250 non-null  object
 5   UUID              41250 non-null  object
 6   source            41250 non-null  object
 7   subset            41250 non-null  object
 8   class_id          41250 non-null  float64
 9   image_path        41250 non-null  object
 10  snake_sub_family  41250 non-null  object
 11  class             41250 non-null  int64
dtypes: float64(1), int64(1), object(10)
memory usage: 3.8+ MB

In [5]:
df_0['uuid_image']=df_0['UUID'].apply(lambda x:x+".jpg")

In [6]:
df_0.head()

,binomial,country,continent,genus,family,UUID,source,subset,class_id,image_path,snake_sub_family,class,uuid_image
0,Agkistrodon contortrix,United States of America,North America,Agkistrodon,Viperidae,20e23008100d4e249fd757c11fe059fe,inaturalist,train,18.0,/Datasets/SnakeCLEF-2021/inaturalist/20e230081...,Agkistrodon contortrix,1,20e23008100d4e249fd757c11fe059fe.jpg
1,Agkistrodon contortrix,United States of America,North America,Agkistrodon,Viperidae,0c6d14f33f404013ab116ab09880c523,inaturalist,train,18.0,/Datasets/SnakeCLEF-2021/inaturalist/0c6d14f33...,Agkistrodon contortrix,1,0c6d14f33f404013ab116ab09880c523.jpg
2,Agkistrodon contortrix,United States of America,North America,Agkistrodon,Viperidae,ca23ee722e5e4b6ca4b130291b8428f1,inaturalist,val,18.0,/Datasets/SnakeCLEF-2021/inaturalist/ca23ee722...,Agkistrodon contortrix,1,ca23ee722e5e4b6ca4b130291b8428f1.jpg
3,Agkistrodon contortrix,United States of America,North America,Agkistrodon,Viperidae,3a31a32de0434653b4a82a30806f7a6d,inaturalist,train,18.0,/Datasets/SnakeCLEF-2021/inaturalist/3a31a32de...,Agkistrodon contortrix,1,3a31a32de0434653b4a82a30806f7a6d.jpg
4,Agkistrodon contortrix,United States of America,North America,Agkistrodon,Viperidae,23dfe346fcbf40e7a465b0febf3620be,inaturalist,val,18.0,/Datasets/SnakeCLEF-2021/inaturalist/23dfe346f...,Agkistrodon contortrix,1,23dfe346fcbf40e7a465b0febf3620be.jpg

In [7]:
df_0=df_0.rename(columns={"class":"poisonous"})

In [ ]:
df_0['poisonous'].value_counts()

In [9]:
import os

In [48]:
uuid_image=set(df_0['uuid_image']

In [27]:
os.mkdir("./Venom_0")
os.mkdir("./Non-venom_0")

In [29]:
import shutil

In [52]:
uuid_label=df_0['poisonous'].to_list()

In [58]:
x=0
for i,j in zip(uuid_image,uuid_label):
    if j==1:
        shutil.copy("../archive/data/"+i,"./Venom_0/"+i)
    else:
        shutil.copy("../archive/data/"+i,"./Non-venom_0/"+i)

In [24]:
# ## trash code 
# filenames[0]

# set_filenames=set(filenames)



# common_image=list(uuid_image.intersection(set_filenames))

# label=df_0['poisonous'].to_list()       

# df_0['poisonous'].to_list()

'00002a5101924503bc059cded7dde5fb.jpg'

In [13]:
filenames=os.listdir("../archive/data")

In [60]:
df_0.to_csv("sample_0_venom_nonvenom.csv",index=False)